$padding-horizontal-mobile: 50px;
$padding-horizontal-sm: 100px;
$padding-horizontal-md: 150px;
$padding-horizontal: 200px;

$dark: #242536;
$black: #4c4d5e;
$dark-grey: #92929d;
$grey: #e4e4e4;
$light-grey: #f6f6f6;


$blue: #282b57;
$red: #d73b3b;
$red-dark: #c62a2a;