@import 'styles/_variables.scss';
@import 'styles/_breakpoints.scss';

.menu {
  display: flex;
  padding: 0px $padding-horizontal;

  @media (max-width: $desktop_xsm) {
    padding: 0px 10px;
  }

  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 0px $padding-horizontal-sm;
  }

  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 0px $padding-horizontal-md;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__link {
    list-style-type: none;
    padding: 0 20px;

    a {
      color: $dark;
      cursor: pointer;
      font-size: 24px;
      font-weight: 600;
      text-decoration: none;
      transition: .2s ease;

      &:hover {
        color: $dark-grey;
      }

      @media (max-width: $mobile) {
        font-size: 15px;
      }
    }

   
  }
}