@import 'styles/_variables.scss';
@import 'styles/_breakpoints.scss';

.section_menu {
  &__filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 30px;
  }
}