@import 'styles/_variables.scss';
@import 'styles/_breakpoints.scss';

.section_menu {
  padding: 10px $padding-horizontal;
  @media (max-width: $desktop_xsm) {
    padding: 0px $padding-horizontal-mobile;
  }

  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 10px $padding-horizontal-sm;
  }

  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 10px $padding-horizontal-md;
  }

  &__title {
    color: $dark;
    font-size: 3rem;
    margin-bottom: 30px;
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 30px;
  }
}